body {
  margin: 0;
  background-color: white;
}


p {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px;
}

div[data-dynamic-label-for="username"] {
  display: none
}

label.no-js {
  clip: unset;
  clip-path: unset;
  height: unset;
  width: unset;
  position: unset;
  display: block;
}


div[data-dynamic-label-for="password"] {
  display: none;
}

input {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.govuk-input:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 2px;
  box-shadow: inset 0 0 0 2px;
}

@media (min-width: 40.0625em) {

  p {
    margin-bottom: 20px;
  }

  input {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}